*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
header{
    background-color: #FD9317;
    display: flex;

    // Ajusta no eixo x largura 
    justify-content: space-around;
    // Ajusta no eixo y altura 
    align-items: center; 

    img{
        width: 12%;
    }
    ul{
        display: flex;
    list-style: none; // retirar o estilo da lista
    justify-content: space-around;
    //border: solid; adicionar borda
    width: 80vw;
    }
}

